/* src/components/Header.css */
.header {
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: calc(100% - 250px);
    left: 250px;
    top: 0;
    z-index: 1;
  }
  
  .header h2 {
    margin: 0;
  }
  
  .header-icons {
    display: flex;
    gap: 20px;
  }
  