.dashboard {
  padding: 80px 20px 20px 266px;
  margin-top: 1rem;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-container input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1; 
}

.search-container .new-student-button,
.search-container .delete-student-button {
  padding: 8px 16px;
  font-size: 16px; 
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container .new-student-button:hover,
.search-container .delete-student-button:hover {
  background-color: #0056b3;
}

.dashboard-table {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  
  overflow-y: auto; 
}

.dashboard-table h2 {
  margin-top: 0;
}

.dashboard-table table {
  width: 100%; 
  border-collapse: collapse;
}

.dashboard-table th,
.dashboard-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.dashboard-table th {
  background-color: #f4f4f4;
}
